<link rel="stylesheet" href="app.component.css" xmlns="http://www.w3.org/1999/html">
<div class="boardWrapper">

<div class="base">
  <app-spawn-control ></app-spawn-control>
</div>
<main>
  <div [style.background-color]="grid.value >  0 ? 'green' : (grid.enemy > 0 ? 'brown' :   'lightblue')"
       [style.transform]="grid.isClicked ? 'rotate(20deg)' : 'rotate(0)'"
       [style.animation]="grid.isClicked ? 'fight 1s ease' : ''"
       [style.border]="grid.base ? '2px solid green' : '1px solid white'"
       [style.cursor]="grid.base ? 'pointer' : 'default'"
       class="grid"
       *ngFor="let grid of board;let ii = index"
       (click)="addNumber(ii, grid.value)"
      #gridElement
  >{{grid.value}} {{ii}} {{grid.enemy}} {{grid.isClicked}}

  <div *ngIf="grid.enemy > 0"
       class="enemyHPBar"
       [style.width]="(grid.enemy / enemyMaxPower()) * 100 + '%'"
  ></div>
    <div *ngIf="grid.value> 0"
         class="enemyHPBar"
         [style.width]="(grid.value / playerMaxPower()) * 100 + '%'"
    ></div>
  </div>
  <button (click)="toggleGameStatus()">Start Game</button>
  <div class="scoreWrapper flex">
    <div class="wins grow">Wins: {{endGameScore().wins}}</div>
    <div class="losses grow">Losses: {{endGameScore().loses}}</div>
    <div class="losses grow">test {{testFromDatabase()}}</div>
  </div>
</main>

<div class="enemyBase">
  <app-enemy-control></app-enemy-control>
</div>
</div>
<canvas style="width: 50px; height: 50px" id="canvas" class="canvas"></canvas>

<!--(click)="randomlySpawn( gridElement)"-->
